# Ignore node_modules in root, client, and server
**/node_modules/

# Ignore environment variables (Security!)
.env
client/.env
server/.env

# Ignore React Build output
client/build/
client/dist/

# Mac OS junk file
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*